$def with(contacto)
<h1>VER CONTACTO</h1>
<form method="POST">

    <label>ID</label><br>
    <input type="text" id="id_contacto" name="id" value="$contacto['id_contacto']" readonly><br>

    <label>Nombre:</label><br>
    <input type="text" id="name" name="nombre" value="$contacto['nombre']" readonly><br>

    <label>Primer Apellido:</label><br>
    <input type="text" name="primer_apellido" value="$contacto['primer_apellido']" readonly><br>

    <label>Segundo Apellido:</label><br>
    <input type="text" name="segundo_apellido" value="$contacto['segundo_apellido']" readonly><br>

    <label>Email:</label><br>
    <input type="text" name="email" value="$contacto['email']" readonly><br>

    <label>Teléfono:</label><br>
    <input type="text" name="telefono" value="$contacto['telefono']" readonly><br>
<br>
<a href="/lista_contactos"><button type="button">Regresar</button></a>
</form>
