
  <form method="POST">
    <label for="id">ID</label>
    <input type="text" id="id" name="id" readonly>

    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" readonly>

    <label for="primer_apellido">Primer Apellido</label>
    <input type="text" id="primer_apellido" name="primer_apellido" readonly>

    <label for="segundo_apellido">Segundo Apellido</label>
    <input type="text" id="segundo_apellido" name="segundo_apellido" readonly>

    <label for="email">Email</label>
    <input type="text" id="email" name="email" readonly>

    <label for="telefono">Teléfono</label>
    <input type="text" id="telefono" name="telefono" readonly>
</form>

<a href="/lista_contactos">Regresar</a>
